In [3]:
import numpy as np
import pandas as pd

# Read Data

In [4]:
students = pd.read_csv('Expanded_data_with_more_features.csv')
students

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

## Total number of records of data and names of columns

In [78]:
total_size = len(students)
total_size

30641

In [79]:
students.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

### Проаналізуйте розподіл за статтю серед учнів.
1. Скільки студентів і студенток у наборі даних?
1. Який відсоток студентів чоловічої статі в наборі даних?
1. Який відсоток студенток у наборі даних?

In [7]:
total_size = len(students)
print(f'Total number of students is {total_size}')

Total number of students is 30641

In [10]:
pd.set_option('display.precision', 2)
students[['Gender', 'Unnamed: 0']].groupby('Gender').count().rename(columns={'Unnamed: 0': 'Part (%)'}) / total_size * 100

        Part (%)
Gender
female     50.34
male       49.66

### Дослідіть зв’язок між етнічною групою та результатами тестів.
1. Яка етнічна група має найвищий середній бал з математики?
1. Яка етнічна група має найвищий середній бал читання?
1. Яка етнічна група має найвищий середній бал з письма?

In [13]:
pd.set_option('display.precision', 5)
EthnicGroup_df = students[['EthnicGroup', 'MathScore', 'ReadingScore', 'WritingScore']].groupby('EthnicGroup').mean()
EthnicGroup_df

             MathScore  ReadingScore  WritingScore
EthnicGroup
group A       62.99189      66.78774      65.25192
group B       63.49022      67.32046      65.89513
group C       64.69572      68.43823      66.99924
group D       67.66640      70.38225      70.89084
group E       75.29894      74.25142      72.67706

In [15]:
EthnicGroup_df[['MathScore']].idxmax().values[0]

'group E'

In [125]:
EthnicGroup_df[['ReadingScore']].idxmax().values[0]

'group E'

In [126]:
EthnicGroup_df[['WritingScore']].idxmax().values[0]

'group E'

### Дослідіть вплив курсу підготовки до тесту на результати тесту.
1. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?
1. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?
1. Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [127]:
pd.set_option('display.precision', 5)
TestPrep_df = students[['TestPrep', 'MathScore', 'ReadingScore', 'WritingScore']].groupby('TestPrep').mean()
TestPrep_df

           MathScore  ReadingScore  WritingScore
TestPrep
completed   69.54666      73.73300      74.70326
none        64.94877      67.05107      65.09276

In [128]:
TestPrep_df[TestPrep_df.index == 'completed']['MathScore'].completed

69.5466599698644

In [129]:
TestPrep_df[TestPrep_df.index == 'completed']['ReadingScore'].completed

73.73299849321948

In [130]:
TestPrep_df[TestPrep_df.index == 'completed']['WritingScore'].completed

74.70326469111

### Проаналізуйте розподіл батьків(ів) за сімейним станом серед учнів.
1. Скільки студентів мають одружених батьків?
1. Скільки студентів мають батьків-одинаків?

In [131]:
pd.set_option('display.precision', 2)
ParentMaritalStatus_df = students[['ParentMaritalStatus', 'Unnamed: 0']].groupby('ParentMaritalStatus').count()
ParentMaritalStatus_df.rename(columns={'Unnamed: 0': 'Count'})

                     Count
ParentMaritalStatus
divorced              4919
married              16844
single                7097
widowed                591

In [132]:
ParentMaritalStatus_df[ParentMaritalStatus_df.index == 'married'].rename(columns={'Unnamed: 0': 'Count'})

                     Count
ParentMaritalStatus
married              16844

In [133]:
ParentMaritalStatus_df[ParentMaritalStatus_df.index == 'single'].rename(columns={'Unnamed: 0': 'Count'})

                     Count
ParentMaritalStatus
single                7097

### Дослідіть зв’язок між заняттями спортом і результатами тестів.
1. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не       займається спортом?
1. Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?

In [137]:
pd.set_option('display.precision', 5)
PracticeSport_df1 = students[['PracticeSport', 'MathScore', 'ReadingScore', 'WritingScore']].groupby('PracticeSport').mean()
PracticeSport_df

               MathScore  ReadingScore  WritingScore
PracticeSport
never           64.17108      68.33766      66.52273
regularly       67.83916      69.94302      69.60400
sometimes       66.27483      69.24131      68.07244

In [142]:
print('Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики,\n\
ніж ті, хто ніколи не займається спортом?')
PracticeSport_df['MathScore']['regularly'] > PracticeSport_df['MathScore']['never']

Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики,
ніж ті, хто ніколи не займається спортом?

True

In [143]:
print('Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання,\n\
ніж ті, хто ніколи не займається спортом?')
PracticeSport_df['ReadingScore']['regularly'] > PracticeSport_df['ReadingScore']['never']

Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання,
ніж ті, хто ніколи не займається спортом?

True

### Проаналізуйте розподіл транспортних засобів до школи серед учнів.
1. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?
1. Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [17]:
pd.set_option('display.precision', 2)
TransportMeans_df = students[['TransportMeans', 'Unnamed: 0']].groupby('TransportMeans').count()
TransportMeans_df.rename(columns={'Unnamed: 0': 'Count'})

                Count
TransportMeans
private         11362
school_bus      16145

In [21]:
TransportMeans_df[TransportMeans_df.index == 'school_bus'].rename(columns={'Unnamed: 0': 'Count'})

                Count
TransportMeans
school_bus      16145

In [147]:
TransportMeans_df[TransportMeans_df.index == 'private'].rename(columns={'Unnamed: 0': 'Count'})

                Count
TransportMeans
private         11362